<%= f.error_notification %>
<%= f.input :update_section, as: :hidden %>
<%= f.input :detail_section, as: :hidden %>
<div class="form-inputs">
  <%= f.input :title %>
  <%= f.input :private_available, label: ' Make available for Private Sites' %>
  <%= f.input :published_date %>
  <label>Thumbnail Image
	<%= f.file_field :thumbnail %>
  </label>

</div>
<div class="form-actions">
  <%= f.button :submit, class: "button"%>
  <%= link_to 'Back', admin_content_path, class: "button" %>
</div>

