<div class="row">
  <div class="medium-12 columns">
	<h1>Add Item To Gallery</h1>
  </div>
</div>
<div class="row">

  <div class="medium-8 columns">
	<%= simple_form_for(@gallery_image, :url => add_image_admin_gallery_path(@gallery), :html => {:multipart => true}) do |f| %>
		<%= f.error_notification %>

		<div class="form-inputs">
		  <%= f.input :name %>
		  <%= f.input :alt_name %>
		  <div class="input float required <%= "error" if !@gallery_image.errors[:image].empty? %>">

			<label> Gallery Image File
			  <%= f.file_field :image %>
			</label>
		  </div>
		</div>
		<div class="form-actions">
		  <%= f.button :submit, 'Add Gallery Image', class: "button" %>
		</div>
	<% end %>
  </div>
</div>