<%= render "home" %>
<%= render "video" %>
<div id="overlay-container">
  <%= render "gallery" %>
  <%= render "design" %>
  <%= render "developer" %>
  <%= render "neighborhood" %>
  <%= render "pres" %>
  <%= render "availability" %>
  <%= render "amenities" %>
  <%= render "contact" %>
  <%= render "legal" %>
  <%= render "thankyou" %>
</div>

<div id="menu">
  <ul>
	<li><span>Home</span>
	</li>
	<!--<li><span>Film</span>
	</li>-->
	<li><span>Gallery</span>
	</li>
	<li><span>Availability</span>
	</li>
	<li><span>Design Team</span>
	</li>
	<li><span>Developers</span>
	</li>
	<li><span>Amenities</span>
	</li>
	<li><span>Neighborhood</span>
	</li>
	<li><span>Press</span>
	</li>
	<li><span>Contact</span>
	</li>
  </ul>
</div>

<div id="top-bar">
  <!--<img id="back-video" src="<%= asset_path("mobile/go-back.png") %>" />-->
  <img id="top-logo" src="<%= asset_path("mobile/logo_top.png") %>" />
  <img id="menu-icon" src="<%= asset_path("mobile/menu_icon.png") %>" />
</div>

<!--<div id="load-film">
  <iframe src="//player.vimeo.com/video/115590044" width="3000" height="1688" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>-->

<div id="orientation-message">
	<div class="orientation-text">To view our website,<br />please rotate your device vertically.</div>
</div>
