<div id="screen-availability" class="screen">
  <h1>Availability</h1>
  <ul class="mobile-availability">
	<% @plans.each do |floor_plan| %>
		<li>
		  <hr>
		  <h3><%= floor_plan.residence %></h3>
		  <p>
			<span><span class="attrib">rooms:</span> <%= floor_plan.bedrooms %> BR/<%= floor_plan.bathrooms %> BA</span>
			<br/>
			<span><span class="attrib">indoor:</span> <%= floor_plan.indoor_sq_ft - floor_plan.indoor_sq_ft.to_i == 0 ?  floor_plan.indoor_sq_ft.to_i : floor_plan.indoor_sq_ft %> SF/ <%= floor_plan.indoor_sq_m - floor_plan.indoor_sq_m.to_i == 0 ?  floor_plan.indoor_sq_m.to_i : floor_plan.indoor_sq_m%> M2</span>
			<br/>
			<% if floor_plan.balcony == 'yes' %>
			<span>
				<span class="attrib">Balcony</span> 
			</span>
			<br/>
			<% end %>
		  </p>
		  <span class="view-floorplan"><%= link_to 'View Floorplan', floor_plan.plan.url , :target => "_blank" %></span>
		</li>

	<% end %>
  </ul>

	 <div class="center-content-availability">
		<table id="availability-list" class="tablesorter">
			<thead>
			<tr>
			<th class="residence-head">Unit</th>
			<th class="bedrooms-head">Beds</th>
			<th class="bathrooms-head">Bath</th>
			<th class="indoor-head">SF</th>
			<th class="indoor-m-head">M<sup>2</sup></th>
			<th class="balcony-head"></th>
			<th class="floorplans-head"></th>
			</tr>
			</thead>
			<tbody class="nicescroll">
			<% @plans.each do |floor_plan| %>
				<tr>
				<td class="residence"><%= floor_plan.residence %></td>
				<td class="bedrooms"><%= floor_plan.bedrooms %></td>
				<td class="bathrooms"><%= floor_plan.bathrooms %></td>
				<td class="indoor"><%= floor_plan.indoor_sq_ft - floor_plan.indoor_sq_ft.to_i == 0 ?  number_with_delimiter(floor_plan.indoor_sq_ft.to_i, :delimiter => ",", :separator => ".") : floor_plan.indoor_sq_ft  %></td>
				<td class="indoor-m"><%= floor_plan.indoor_sq_m - floor_plan.indoor_sq_m.to_i == 0 ?  floor_plan.indoor_sq_m.to_i : floor_plan.indoor_sq_m %></td>
				<td class="balcony"><% if floor_plan.balcony == 'yes' %>Balcony<% end %></td>
				<td class="floorplans"><%= link_to image_tag('view_icon.png'), floor_plan.plan.url, :target => "_blank" %>
					<%= link_to image_tag('download_icon.png'), download_admin_floor_plan_path(floor_plan) %> </td>
				</tr>
			<% end %>
			</tbody>
			<tfoot>
			<tr>
			<td colspan="7">
				<span style="float:left;">Exclusive Sales &amp; Marketing: Stribling Marketing Associates. Pricing from $4.5 million.</span>
				<span style="float:right;word-spacing: 4px;"><%=link_to "Download", floor_plans_export_path(format: :pdf) %></span>
			</td>
			</tr>
			</tfoot>
		</table>
  </div>

</div>
