<div class="row">
  <div class="medium-4 columns">
	<h1> Private Details</h1>
  </div>
  <div class="medium-8 columns align-right">
	<% if is_admin? %>
		<%= link_to 'Add Gallery Update', new_admin_gallery_path(params: {detail: true}), class: "button top_button" %>
		<%= link_to 'Add Details PDF', new_admin_article_path(params: {detail: true}), class: "button top_button" %>
	<% end %>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
	<table class="updates_table">
	  <thead>
	  <tr>
		<th class="date_col">Date</th>
		<th>Title of Details</th>
		<th>Type</th>
		<% if is_admin? %>
			<th colspan="2" class="action_col"></th>
		<% end %>
	  </tr>
	  </thead>
	  <tbody>
	  <% @details_galleries.each do |gal| %>
		  <tr>
			<td><%= gal.published_date.strftime("%b %d, %Y") %></td>
			<td><%= gal.title %></td>
			<td>Gallery</td>
			<% if is_admin? %>
				<td><%= link_to 'Edit', edit_admin_gallery_path(gal) %></td>
				<td><%= link_to 'Delete', admin_gallery_path(gal), method: :delete, data: {confirm: 'Are you sure?'} %></td>
			<% end %>
		  </tr>
	  <% end %>

	  <% @details_pres.each do |article| %>
		  <tr>
			<td><%= article.published_date.strftime("%b %d, %Y") %></td>
			<td><%= article.title %></td>
			<td>PDF</td>
			<% if is_admin? %>
				<td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
				<td><%= link_to 'Delete', admin_article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %></td>
			<% end %>
		  </tr>
	  <% end %>

	  </tbody>
	</table>
  </div>
</div>
