<div class="row">
  <div class="medium-6 columns">
	<h1> Users</h1>
  </div>
  <div class="medium-6 columns align-right">
	<% if is_admin? %>
		<%= link_to 'Add User', new_admin_floor_plan_path, class: "button top_button" %>
	<% end %>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
	<table class="tablesorter availability">
	  <thead>
	  <tr>
			<th>Email</th>
			<th>Type</th>
			<% if is_admin? %>
				<th colspan="2">Actions</th>
			<%end%>
	  </tr>
	  </thead>
	  <tbody>
	  <% @users.each do |user| %>
		  <tr>
			<td><%= user.email %></td>
			<td><%= user.type %></td>
			<% if is_admin? %>
				<td><%= link_to 'Edit', edit_admin_users_path(user) %></td>
				<td><%= link_to 'Delete', admin_users_path(user), method: :delete, data: {confirm: 'Are you sure?'} %></td>
			<% end %>
		  </tr>
	  <% end %>
	  </tbody>
	</table>
  </div>
</div>
